/* 

    THIS CSS DOCUMENT IS THE MAIN STYLESHEET OF THE WEBSITE

    DEVELOPED BY TINAGRITPROJECT ON BEHALF OF SHANGHAI SUMTEX INTERNATIONAL LOGISTICS CO., LTD. ("SUMTEX")

    THIS CODE IS STILL IN DEVELOPMENT WHICH MEANS TINAGRITPROJECT OWNS ALL RIGHTS TO THIS DOCUMENT
    WITHOUT FORMAL AND WRITTEN PERMISSION FROM TINAGRITPROJECT, YOU MAY NOT COPY THIS CODE

    THIS WEBSITE IS DEVELOPED BY A DEVELOPER WHO RESIDES IN CANADA
    THEREFORE COPYRIGHT LAW IN CANADA JURISDICTION APPLIES IN THE PROCESS OF DEVELOPMENT
    PLEASE CONTACT THE DEV AT webmasters@tinagrit.com FOR ANY REQUESTS OR CONCERNS

    styles.css 1.0.1
    
*/

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap'); */

body,body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik',system-ui;
}

.external:after {
    content: url('');
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-left: 10px;
    -webkit-mask: url('../images/external.svg') no-repeat 50% 50%;
    mask: url('../images/external.svg') no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: currentColor;
}

h2, h3 {
    display: inline-block;
}

li {
    margin-left: 25px;
}

a.classiclink {
    color: #000000;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

a.classiclink.und h3,
a.classiclink.und p {
    text-decoration: underline;
}

.toggler {
    padding: 10px 0;
    border-top: 2px solid #e8e8e8;
    border-bottom: 2px solid #e8e8e8;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggler svg {
    display: inline-block;
    height: 30px;
    margin-left: 20px;
}

blockquote {
    margin: 10px 30px;
    padding: 25px;
    background-color: rgb(246, 246, 246);
    border: 1px solid #D9251C;
    border-left-width: 10px;
}

blockquote .item:not(:last-child) {
    margin-bottom: 1.5em;
}

.tinymargin {
    height: 15px;
}

.littlemargin {
    height: 30px;
}

.centretext {
    text-align: center;
}

.nooverflow {
    overflow: hidden;
    height: fit-content;
}

.midlefttext {
    max-width: fit-content;
    width: 80%;
    display: block;
    margin: 10px auto;
}

.centrecontainerthis {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrecontainerthis.aligndown {
    align-items: flex-end;
}

.noselect {
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

section#nav #uppernav {
    background-color: rgb(40, 40, 40);
    color: white
}

section#nav #uppernav .split {
    width: fit-content;
    display: block;
    margin: 0 0 0 auto;
}

section#nav #uppernav .split p {
    display: inline-block;
    margin-right: 15px;
    padding: 6px 10px 6px 10px;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
}

section#nav #mainnav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
    z-index: 999;
}

section#nav #mainnav a {
    text-decoration: none;
}

section#nav #mainnav>.widthcontrol {
    display: flex;
    justify-content: space-between;
}

section#nav #mainnav .nav-header {
    display: block;
    margin-left: 15px;
    cursor: pointer;
}

section#nav #mainnav .nav-header .titlelogo {
    height: 30px;
}

section#nav #mainnav .nav-header span.main {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

section#nav #mainnav .nav-header>.nav-title {
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    transition: background-color 300ms;
}

section#nav #mainnav .nav-header>.nav-title:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

section#nav #mainnav .nav-btn {
    display: none;
}

section#nav #mainnav .nav-links {
    display: block;
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
}

section#nav #mainnav .linkblock {
    display: inline-flex;
    align-items: center;
    height: 50px;
    transition: background-color 300ms;
    vertical-align: middle;
}

section#nav #mainnav .linkblock:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

section#nav #mainnav .nav-links a {
    position: relative;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
    font-size: 0.9rem;
}


section#nav #mainnav #nav-check {
    display: none;
}

@media (max-width:768px) {
    section#nav #uppernav .split {
        margin: 0 auto;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    section#nav #uppernav .split p {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
    }

    section#nav #uppernav .split p:last-child {
        margin-right: 0;
    }

    section#nav #mainnav .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    section#nav #mainnav .nav-btn>#togglenav {
        display: inline-block;
        width: 75px;
        height: 50px;
        padding: 13px 28px;
        background-color: #4d4d4d;
        border: none;
    }

    section#nav #mainnav #nav-check:checked~.nav-btn>#togglenav {
        background-color: rgba(0, 0, 0, 0.3);
    }

    section#nav #mainnav .nav-btn>#togglenav>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
    }

    section#nav #mainnav .nav-links {
        position: absolute;
        display: block;
        margin-right: 0;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    section#nav #mainnav .linkblock {
        width: 100%;
    }

    section#nav #mainnav #nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    section#nav #mainnav #nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

/* modified from https://codepen.io/jo_Geek/pen/xgbaEr */

.popupmenu {
    position: absolute;
    z-index: 10000;
    width: 170px;
    background: #ededed;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    display: flex;
    flex-direction: column;
    padding: 10px
}

.popupmenu.visible {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
}

.popupmenu .item {
    padding: 5px 10px;
    background-color: #efefef;
    margin-top: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.popupmenu .item:first-child {
    margin-top: 0;
}

.popupmenu .item:hover {
    background-color: #dedede;
}

.popupmenu .item svg {
    max-height: 1em;
    display: inline-block;
    margin-right: 5px;
}

.popupmenu .item p {
    display: inline;
    color: black;
}


section#top {
    position: relative;
}

section#top .image {
    position: relative;
}

section#top .image .background {
    min-width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: center;
}

section#top .image .imgcontainer {
    position: relative;
}

section#top .image .imgcontainer::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: linear-gradient(0deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0) 100%);    
}

section#top .hero {
    color: #2C3639;
    padding: 10px;
    margin-top: -5px;
    position: relative;
    z-index: 2;
}
 
section#top .hero::before {    
    content: "";
    background-image: url('../images/heading_lower_background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

section#top .hero .logo .highlight {
    width: 100px;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
}

section#top .hero .logo .full {
    margin-top: 45px;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 15px;
}

section#top .hero .logo .full .normal {
    font-size: 1.2rem;
}

section#top .hero .logo .full .smaller {
    font-size: 1rem;
}

section#top .hero .arrow {
    margin: 20px 0;
}

section#top .hero .arrow .desc {
    text-transform: uppercase;
    text-align: center;
}

.hamburger {
    display: none;
}

section#top .hero .arrow .svg {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
    width: 20px;
    top: 0px;
}

section#top .hero .arrow .svg .main {
    fill: #2C3639;
}

section.content {
    margin-top: 100px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

section.content.lesstop {
    margin-top: 50px;
}

section.content .contentrback {
    position: absolute;
    opacity: 10%;
    z-index: -1;
    height: 100%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

section.content .contentrback.spin {
    z-index: 2;
}

section.content .contentrback svg {
    width: 100%;
    height: 100%
}

section.content .contentrback.spin svg {
    transition: transform 0.5s ease-in-out;
}

section.content .contentrback.spin:hover svg {
    transform: rotate(45deg);
}

section.content:last-of-type {
    margin-bottom: 80px;
}

section.content span.redgradient {
    background-color: #b41f18;
    background-image: linear-gradient(45deg, #ba2018, #D9251C);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

section.content .bold {
    font-weight: 600;
}

section.content .blockholder {
    padding: 5px
}

section.content .block {
    padding: 10px 20px;
    background-color: #000000;
    margin: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.content .block.reddark {
    background-color: #b41f18;
    color: white;
}

section.content .block svg path {
    fill: white;
}

section.content .block svg {
    display: inline-block;
    margin-right: 8px;
}

section.content .checkmarkcontainer .block {
    background-color: transparent;
    justify-content: flex-start;
}

section.content .checkmarkcontainer .block svg path {
    fill: #b41f18;
}


section .imgextendleft {
    position: relative;
}

section .chinaportleftcontainer {
    position: relative;
}

section #chinaportleft {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    display: block;
}

section .chinaportleftcontainer .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: opacity 0.5s;
    opacity: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .chinaportleftcontainer:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

section .chinaportleftcontainer .overlay {
    font-weight: 600;
}

section .portcontenttitle {
    text-align: center;
}

section .portcontenttitle .item {
    display: inline-flex;
    padding: 5px 10px;
}

section .portcontenttitle .item h3 {
    font-weight: 600;
}

section.content .sectortitle {
    margin-bottom: 25px;
}

section.content .picwithoverlaycontainer {
    padding-left: 5px;
    padding-right: 5px;
}

section.content .picwithoverlay {
    display: inline-block;
    height: 150px;
    width: 100%;
    margin: 3px 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#moreinfo .picwithoverlay {
    height: 300px;
}

section.content .picwithoverlay img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section.content .picwithoverlay h3 {
    position: absolute;
    white-space: normal;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    text-align: center;
    z-index: 2;
}

section.content .picwithoverlay:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    transition: opacity 0.5s;
}

#moreinfo .picwithoverlay:after {
    transition: opacity 0.5s, background-color 0.5s;
    cursor: pointer;
}

section.content .picwithoverlay:hover:after {
    opacity: 0.8;
}

#moreinfo .picwithoverlay:hover:after {
    background-color: #D9251C;
    opacity: 0.6;
}

section.content .hugemapprev {
    margin-top: 30px;
}

section.content .hugemapprev img {
    width: 100%;
}

section.content .witemparent {
    margin-bottom: 40px;
}

section.content .witemparent .title {
    margin-bottom: 15px;
}

section.content .witemcontainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

section.content .witemcontainer img {
    display: inline-block;
    height: 4em;
    width: 4em;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

section.content .witemcontainer p {
    display: inline-block;
    font-size: 1.5em;

}

section.content.etaparent,
section.content.paragparent {
    color: black;
    padding: 60px 0px;
    margin-top: 50px;
}

section.content.etaparent {
    background-color: rgb(246 246 246);
}

section.content.etaparent h3,
section.content.paragparent h3 {
    line-height: 1.5em;
}

section.content #etabutton {
    background-color: #b41f18;
    color: #FFFFFF;
    padding: 10px 30px;
    width: fit-content;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    cursor: pointer;
}

section.content #etabutton h3 {
    font-weight: bold;
}

section.content:last-of-type {
    margin-bottom: 0;
}

section.content iframe.map {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

section.content .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

section.content .contact h3 {
    color: black;
    text-decoration: none;
}

section.content .contact svg {
    display: inline-block;
    fill:#D9251C;
    max-height: 1.5em;
    margin-right: 15px;
}

section.content .contactcopier {
    display: flex;
}

section.content .contactcopier .item {
    padding: 5px 10px;
    background-color: #efefef;
    margin-top: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

section.content .contactcopier .item:hover {
    background-color: #dedede;
}

section.content .contactcopier .item svg {
    max-height: 1em;
    display: inline-block;
    margin-right: 5px;
}

section.content .contactcopier .item p {
    display: inline;
    color: black;
    text-decoration: none;
}

section.content table {
    border-collapse:collapse;
    border-spacing:0;
    margin:0px auto;
}

section.content table td,
section.content table th {
    border: 1px solid #ddd;
    overflow: hidden;
    padding: 10px 20px;
    vertical-align: middle;
}

section.content table tr:nth-child(even) {
    background-color: #f2f2f2;
}

section.content table tr:hover {
    background-color: #ddd;
}

section.content table th {
    font-weight: bold;
    padding-top: 12px 20px;
    background-color: #D9251C;
    color: white;
}

section.content table .numbers {
    text-align: center;
}

section.content .togglecontent {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .4s ease;
    padding: 0;
}

section.content .togglecontent.activated {
    height: auto;
    opacity: 1;
    padding: 15px 0;
}

section.content .togglerarrow {
    transition: transform .4s;
}

section.content .togglerarrow.activated {
    transform: rotate(-180deg);
}



section.content.footergap {
    height: 100px;
}

section#footer {
    background: rgb(40, 40, 40);
    padding: 60px 0;
}

section#footer .footerlogo {
    font-size: 22px;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    align-items: center;
}

section#footer .footerlogo img {
    height: 40px;
}

section#footer .footerlogo .main {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

section#footer .footerlinks {
    margin-top: 10px;
}

section#footer .footerlinks a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}

section#footer .footerlinks a:not(:last-child):after,
section#footer .copyright:after {
    content: '·';
    text-decoration: none;
    color: white;
    margin: 0 15px;
}

section#footer .copyright {
    margin-top: 30px;
    color: white;
    display: inline-block;
}

section#footer .icp {
    display: inline;
    color: white;
}

section#footer .disclaimerparent {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid white;
}

section#footer .disclaimer {
    font-style: italic;
    color: white;
}


/* animation (fun part) */

section#top .hero .logo .highlight {
    animation: FadeUpForLogo 0.5s ease-out 1;
}

@media only screen and (min-width: 768px) {
    section#top .hero .logo .highlight {
        animation: FadeUpForLogoDesktop 0.5s ease-out 1;
    }
}

section#top .hero .logo .full {
    opacity: 0;
    animation: FadeIn 0.5s ease-out 0.3s 1;
    animation-fill-mode: forwards;
}

section#top .hero .arrow {
    opacity: 0;
    animation: FadeIn 0.5s ease-out 0.3s 1;
    animation-fill-mode: forwards;
}

section#top .hero .arrow .svg {
    animation: MoveTopUpDown 1s ease-out infinite;
}





@keyframes FadeUpForLogo {
    0% {
        top: -50px;
        opacity: 0;
    }
    100% {
        top: -80px;
        opacity: 1;
    }
}

@keyframes FadeUpForLogoDesktop {
    0% {
        top: 30px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes MoveTopUpDown {
    0%, 100% {
      top: 0px;
    }
    50% {
      top: 8px;
    }
}


/* desktop css */

@media only screen and (min-width: 768px) {


    .linkunderline {
        position: relative;
        overflow: hidden;
    }

    .linkunderline::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: white;
        opacity: 1;
        transform: translate3d(-100%, 0, 0);
        transition: opacity 300ms, transform 300ms;
    }
    
    .linkunderline:hover::after,
    .linkunderline:focus::after {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    .widthcontrol {
        max-width: 768px;
        width: 100%;
        display: block;
        margin: 0 auto;
        position: relative;
    }

    .widthcontrol.wide {
        max-width: 1000px;
    }

    section#top .imgcontainer {
        display: none;
    }

    section#top .hero {
        position: relative;
        padding: 80px 10px;
        background-size: cover;
        min-height: 80vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    section#top .hero .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    section#top .hero .logo .highlight {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        width: 100px;
        margin-left: 0;
    }

    section#top .hero .logo .full {
        margin-top: 10px;
        text-align: center;
    }

    section#top .hero .logo .full .normal {
        font-size: 50px;
    }

    section#top .hero .logo .full .smaller {
        font-size: 35px;
        margin-top: 5px;
        display: block;
    }

    section#top .hero .arrow .desc {
        font-size: 25px;
        text-align: left;
        margin-left: 0;
    }

    section#top .hero .arrow .svg {
        margin: auto;
    }

    section.content h2 {
        font-size: 40px;
    }

    section.content h2.hugenumber {
        font-size: 75px;
        display: block;
        text-align: center;
    }

    section.content h3 {
        font-size: 30px;
        font-weight: 400;
    }

    section.content .block svg {
        height: 30px;
    }
}

@media only screen and (max-width: 768px) {
    section.content .widthcontrol {
        padding: 0 15px;
    }

    section.content h3 {
        font-weight: normal;
    }

    section.content .blockholder .block svg,
    section.content .checkmarkcontainer .item svg {
        height: 1em;
    }

    section.content .contentrback {
        right: -30%
    }

    section.content .midlefttext {
        text-align: center;
    }

    section.content .margintopformob {
        margin-top: 20px;
    }

    section.content .picwithoverlay {
        height: 75px;
    }

    #moreinfo .picwithoverlay {
        height: 150px;
    }

    section.content .makeh2onmob {
        font-size: 1.17em;
    }

    section.content .centrelistonmob {
        margin-top: 10px;
        text-align: center;
        justify-content: center;
    }

    section.content .hugenumber {
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    section.content .hugenumber span {
        font-size: 50px;
    }

    section.content .extrapaddingformob {
        padding: 0 8px;
    }

    section.content .tinymarginformob {
        height: 15px;
    }

    section#footer .footerlogo {
        justify-content: center
    }

    section#footer .footerlogo img {
        height: 30px;
    }

    section#footer .footerlogo .main {
        font-size: 1.2em;
    }

    section#footer .footerlinks {
        text-align: center;
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    section#footer .footerlinks a {
        font-size: 1.17em;
    }

    section#footer .footerlinks a:not(:last-child):after {
        margin: 0 10px;
    }

    section#footer .copyright,
    section#footer .icp {
        display: block;
        font-size: 0.8em;
        text-align: center;
    }

    section#footer .icp {
        margin-top: 10px;
    }

    section#footer .copyright:after {
        content: '';
        display: none;
    }

    section#footer .disclaimer {
        font-size: 0.7em;
        line-height: 1.5em;
    }

    
}